<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="org.ddosolitary.okcagent">

	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.INTERNET" />

	<queries>
		<package android:name="org.sufficientlysecure.keychain" />
	</queries>

	<application
		android:name=".MyApplication"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		tools:ignore="GoogleAppIndexingWarning">
		<receiver
			android:name=".SshProxyReceiver"
			android:enabled="true"
			android:exported="true"
			tools:ignore="ExportedReceiver" />
		<receiver
			android:name=".GpgProxyReceiver"
			android:enabled="true"
			android:exported="true"
			tools:ignore="ExportedReceiver" />

		<service
			android:name=".ssh.SshAgentService"
			android:enabled="true"
			android:exported="false" />
		<service
			android:name=".gpg.GpgAgentService"
			android:enabled="true"
			android:exported="false" />

		<activity
			android:name=".MainActivity"
			android:launchMode="singleTask"
			android:theme="@style/AppTheme">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".IntentRunnerActivity"
			android:launchMode="singleInstance"
			android:theme="@style/AppTheme.Dialog" />
		<activity
			android:name=".ErrorDialogActivity"
			android:taskAffinity=""
			android:excludeFromRecents="true"
			android:theme="@style/AppTheme.Dialog" />
		<activity
			android:name=".SettingsActivity"
			android:label="@string/text_settings"
			android:theme="@style/AppTheme" />

		<meta-data
			android:name="com.bugsnag.android.API_KEY"
			android:value="c496f0ee52d0394718d46bd1113a0b9b" />
	</application>

</manifest>
